{% extends "base.html" %}
{% block title %}家圖四必 - 關於我們{% endblock title %}
{% block src %}
{% include "_style.html" %}
{% endblock src %}
{% block about %}
<a href="{{url_for('about')}}" class="nav-item nav-link active">關於我們</a>
{% endblock about %}
{% block body %}
<!-- Page Header Start -->
<div class="container-fluid bg-dark bg-img p-5 mb-5">
    <div class="row">
        <div class="col-12 text-center">
            <h1 class="display-4 text-uppercase text-white">關於我們</h1>
            <a href="#content1">Purpose</a>
            <i class="far fa-square text-primary px-2"></i>
            <a href="#content2">Target Audience</a>
            <i class="far fa-square text-primary px-2"></i>
            <a href="#content3">Team Members</a>
        </div>
    </div>
</div>
<!-- Page Header End -->

<!-- About Start -->
<div class="container-fluid pt-5" id="content1">
    <div class="container">
        <div class="section-title position-relative text-center mx-auto mb-5 pb-3" style="max-width: 600px;">
            <h2 class="text-primary font-secondary">Purpose</h2>
        </div>
        <div class="row gx-5">
            <div class="col-lg-5 mb-5 mb-lg-0" style="min-height: 400px;">
                <div class="position-relative h-100">
                    <img class="position-absolute w-100 h-100" src="{{ url_for('static',filename='img/house-2.jpg')}}"
                        style="object-fit: cover;">
                </div>
            </div>
            <div class="col-lg-6 pb-5">
                <h4 class="mb-4">研究動機</h4>
                <p class="mb-5">
                    統計顯示2021年台灣人平均買第一間房的年齡在逐漸攀高，大多數人在35-40歲時買第一間房，在還完30年房貸之後，也已近70歲，對一般民眾而言幾乎沒有能力可以換房。<br>
                    因此我們希望提供給對房屋有需求的消費者們一個快速簡便的工具，讓消費者們可以在正式購買或租賃前有一個可以參考的工具，避免發生購買後發現房屋缺點而後悔卻無法換屋的問題。
                </p>
                <h4 class="mb-4">研究目的</h4>
                <p class="mb-5">
                    房子有好的風水能有效地提高成交率，換言之，風水是房子保值的重要因素之一。<br>
                    然而房屋風水，通常都需要去詢問專業的風水師才能得知，藉由上傳房屋的格局平面圖，進行風水分析，讓使用者可以輕易的知道房屋的風水優劣，並綜合其他工具去協助使用者，依據個人需求及風水的考量進行住宅挑選，有效提供符合使用者需求的資訊以作為購屋決策參考。<br>
                </p>
            </div>
        </div>
    </div>
</div>
<!-- About End -->
<br id="content2">
<br>
<br>

<!-- features Start -->
<div class="container-fluid py-5 bg-img">
    <div class="container">
        <div class="section-title position-relative text-center mx-auto mb-4 pb-3" style="max-width: 600px;">
            <h2 class="text-primary font-secondary">Target Audience</h2>
        </div>
        <div class="owl-carousel testimonial-carousel">
            <div class="testimonial-item bg-dark text-white border-inner p-4">
                <div class="d-flex align-items-center mb-3">
                    <div class="ps-3">
                        <h4 class="text-primary text-uppercase mb-1">首購族</h4>
                    </div>
                </div>
                <p class="mb-0">房市交易買家的主力之一<br><br><br>
                </p>
            </div>
            <div class="testimonial-item bg-dark text-white border-inner p-4">
                <div class="d-flex align-items-center mb-3">
                    <div class="ps-3">
                        <h4 class="text-primary text-uppercase mb-1">換屋族</h4>
                    </div>
                </div>
                <p class="mb-0">房市交易買家的最大宗，覺得風水形局種種，會影響平安財利。<br><br>
                </p>
            </div>
            <div class="testimonial-item bg-dark text-white border-inner p-4">
                <div class="d-flex align-items-center mb-3">
                    <div class="ps-3">
                        <h4 class="text-primary text-uppercase mb-1">投資者</h4>
                    </div>
                </div>
                <p class="mb-0">房子有好的風水能提高成交率，未來出售時會較少阻力，獲利可能較大。<br><br>
                </p>
            </div>
            <div class="testimonial-item bg-dark text-white border-inner p-4">
                <div class="d-flex align-items-center mb-3">
                    <div class="ps-3">
                        <h4 class="text-primary text-uppercase mb-1">建商</h4>
                    </div>
                </div>
                <p class="mb-0">建商多會注意細節，避免規劃失誤，銷售遇到阻力會減少。<br>因此更在意手上數十戶或百戶的房屋風水優劣。
                </p>
            </div>
        </div>
    </div>
</div>
<!-- Testimonial End -->


<!-- Team Start -->
<div class="container-fluid py-5" id="content3">
    <div class="container">
        <div class="section-title position-relative text-center mx-auto mb-5 pb-3" style="max-width: 600px;">
            <h2 class="text-primary font-secondary">Team Members</h2>
            <!-- <h1 class="display-4 text-uppercase">Our Developer</h1> -->
        </div>
        <div class="row g-5">
            <div class="col-lg-4 col-md-6">
                <div class="team-item">
                    <div class="position-relative overflow-hidden">
                        <img class="img-fluid w-100" src="{{ url_for('static',filename='img/team-surfer1.jpg')}}"
                            alt="">
                        <div
                            class="team-overlay w-100 h-100 position-absolute top-50 start-50 translate-middle d-flex align-items-center justify-content-center">
                            <div class="d-flex align-items-center justify-content-start">
                                <a class="btn btn-lg btn-primary btn-lg-square border-inner rounded-0 mx-1"
                                    href="https://github.com/nbsurferch07"><i class="fab fa-github fw-normal"></i></a>
                                <a class="btn btn-lg btn-primary btn-lg-square border-inner rounded-0 mx-1" href="#"><i
                                        class="fab fa-facebook-f fw-normal"></i></a>
                                <a class="btn btn-lg btn-primary btn-lg-square border-inner rounded-0 mx-1" 
                                    href="https://www.linkedin.com/in/chihhao-yang"><i class="fab fa-linkedin-in fw-normal"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="bg-dark border-inner text-center p-4">
                        <h4 class="text-uppercase text-primary">楊致皓</h4>
                        <p class="text-white m-0">專案架構 | 資料處理 | 圖像辨識</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="team-item">
                    <div class="position-relative overflow-hidden">
                        <img class="img-fluid w-100" src="{{ url_for('static',filename='img/team-miyang.jpg')}}" alt="">
                        <div
                            class="team-overlay w-100 h-100 position-absolute top-50 start-50 translate-middle d-flex align-items-center justify-content-center">
                            <div class="d-flex align-items-center justify-content-start">
                                <a class="btn btn-lg btn-primary btn-lg-square border-inner rounded-0 mx-1" 
                                    href="https://github.com/Roger13579"><i
                                        class="fab fa-github fw-normal"></i></a>
                                <a class="btn btn-lg btn-primary btn-lg-square border-inner rounded-0 mx-1" href="#"><i
                                        class="fab fa-facebook-f fw-normal"></i></a>
                                <a class="btn btn-lg btn-primary btn-lg-square border-inner rounded-0 mx-1"
                                    href="https://www.linkedin.com/in/mingyao-895565160"><i
                                        class="fab fa-linkedin-in fw-normal"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="bg-dark border-inner text-center p-4">
                        <h4 class="text-uppercase text-primary">李明曜</h4>
                        <p class="text-white m-0">特徵工程 | 模型建置 | 網頁整合</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="team-item">
                    <div class="position-relative overflow-hidden">
                        <img class="img-fluid w-100" src="{{ url_for('static',filename='img/team-mina.JPG') }}" alt="">
                        <div
                            class="team-overlay w-100 h-100 position-absolute top-50 start-50 translate-middle d-flex align-items-center justify-content-center">
                            <div class="d-flex align-items-center justify-content-start">
                                <a class="btn btn-lg btn-primary btn-lg-square border-inner rounded-0 mx-1"
                                    href="https://github.com/YiYenHsu"><i class="fab fa-github fw-normal"></i></a>
                                <a class="btn btn-lg btn-primary btn-lg-square border-inner rounded-0 mx-1"
                                    href="https://www.facebook.com/mina.shu.1/"><i
                                        class="fab fa-facebook-f fw-normal"></i></a>
                                <a class="btn btn-lg btn-primary btn-lg-square border-inner rounded-0 mx-1"
                                    href="https://www.linkedin.com/in/yi-yen-hsu-b57166186/"><i
                                        class="fab fa-linkedin-in fw-normal"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="bg-dark border-inner text-center p-4">
                        <h4 class="text-uppercase text-primary">徐苡晏</h4>
                        <p class="text-white m-0">資料視覺化 | 網頁整合</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="team-item">
                    <div class="position-relative overflow-hidden">
                        <img class="img-fluid w-100" src="{{ url_for('static',filename='img/team_longred.jpg') }}"
                            alt="">
                        <div
                            class="team-overlay w-100 h-100 position-absolute top-50 start-50 translate-middle d-flex align-items-center justify-content-center">
                            <div class="d-flex align-items-center justify-content-start">
                                <a class="btn btn-lg btn-primary btn-lg-square border-inner rounded-0 mx-1"
                                    href="https://github.com/LongggReddd"><i class="fab fa-github fw-normal"></i></a>
                                <a class="btn btn-lg btn-primary btn-lg-square border-inner rounded-0 mx-1" href="#"><i
                                        class="fab fa-facebook-f fw-normal"></i></a>
                                <a class="btn btn-lg btn-primary btn-lg-square border-inner rounded-0 mx-1" href="#"><i
                                        class="fab fa-linkedin-in fw-normal"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="bg-dark border-inner text-center p-4">
                        <h4 class="text-uppercase text-primary">陳長宏</h4>
                        <p class="text-white m-0">資料處理 | 圖像辨識 | 系統建置</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="team-item">
                    <div class="position-relative overflow-hidden">
                        <img class="img-fluid w-100" src="{{ url_for('static',filename='img/team_martini.jpg')}}"
                            alt="">
                        <div
                            class="team-overlay w-100 h-100 position-absolute top-50 start-50 translate-middle d-flex align-items-center justify-content-center">
                            <div class="d-flex align-items-center justify-content-start">
                                <a class="btn btn-lg btn-primary btn-lg-square border-inner rounded-0 mx-1"
                                    href="https://github.com/CHMartini"><i class="fab fa-github fw-normal"></i></a>
                                <a class="btn btn-lg btn-primary btn-lg-square border-inner rounded-0 mx-1" href="#"><i
                                        class="fab fa-facebook-f fw-normal"></i></a>
                                <a class="btn btn-lg btn-primary btn-lg-square border-inner rounded-0 mx-1" href="#"><i
                                        class="fab fa-linkedin-in fw-normal"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="bg-dark border-inner text-center p-4">
                        <h4 class="text-uppercase text-primary">詹文孔</h4>
                        <p class="text-white m-0">資料分析 | 資料處理 | 圖像辨識</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="team-item">
                    <div class="position-relative overflow-hidden">
                        <img class="img-fluid w-100" src="{{ url_for('static',filename='img/team-p.jpg') }}" alt="">
                        <div
                            class="team-overlay w-100 h-100 position-absolute top-50 start-50 translate-middle d-flex align-items-center justify-content-center">
                            <div class="d-flex align-items-center justify-content-start">
                                <a class="btn btn-lg btn-primary btn-lg-square border-inner rounded-0 mx-1"
								    href="https://github.com/PEITUNGYU"><i
                                        class="fab fa-github fw-normal"></i></a>
                                <a class="btn btn-lg btn-primary btn-lg-square border-inner rounded-0 mx-1" href="#"><i
                                        class="fab fa-facebook-f fw-normal"></i></a>
                                <a class="btn btn-lg btn-primary btn-lg-square border-inner rounded-0 mx-1" href="#"><i
                                        class="fab fa-linkedin-in fw-normal"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="bg-dark border-inner text-center p-4">
                        <h4 class="text-uppercase text-primary">游霈彤</h4>
                        <p class="text-white m-0">系統建置</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Team End -->
{% endblock body %}

</html>
