{% extends "base.html" %}
{% block title %}家圖四必 - 可負擔房價計算機{% endblock title %}
{% block src %}
{% include "_style.html" %}
{% endblock src %}
{% block cal %}
<a href="#" class="nav-link dropdown-toggle active" data-bs-toggle="dropdown">計算機</a>
{% endblock cal %}
{% block body %}
<!-- Page Header Start -->
<div class="container-fluid bg-dark bg-img p-5 mb-5">
    <div class="row">
        <div class="col-12 text-center">
            <h1 class="display-4 text-uppercase text-white">可負擔房價試算</h1>
            <p>輸入以下欄位，即為您估算您可以買到的房屋金額</p>
        </div>
    </div>
</div>
<!-- Page Header End -->

<!-- Calculator Start -->
<div class="container">
    <div class="row mt-5">
        <div class="col">
            <div class="row">
                <div class="col">
                    <div class="row mt-5 inputoption">
                        <section class="l-formTable container-xl mb-5 px-0 px-sm-3" data-type="comp"
                            data-comp-name="_formTable">
                            <div class="l-formTable__block">
                                <div class="l-formTable__form">
                                    <div class="col ml-4 pt-3">
                                        <div class="l-formTable__formRow max-600 row p-0">
                                            <label for="amount"
                                                class="l-formTable__formRow--title col-12 col-sm-4 p-0 py-2">自備款金額：</label>
                                            <input type="text" name="amount"
                                                class="l-formTable__formRow--input col-10 col-sm-6 input-required"
                                                maxlength="4" id="amount" inputmode="numeric">
                                            <div class="col-2 ">萬元</div>
                                        </div>
                                        <br>
                                        <div class="l-formTable__formRow max-600 row p-0">
                                            <label for="period"
                                                class="l-formTable__formRow--title col-12 col-sm-4 p-0 py-2">每月規劃還款金額：</label>
                                            <input type="text" name="period"
                                                class="l-formTable__formRow--input col-10 col-sm-6 input-required"
                                                maxlength="7" id="period" inputmode="numeric">
                                            <div class="col-2 ">元</div>
                                            <div
                                                class="l-formTable__error col-sm-6 offset-sm-4 p-0 justify-content-start">
                                                輸入資料不符合資格請重新輸入
                                            </div>
                                        </div>
                                        <br>
                                        <div class="l-formTable__formRow max-600 row p-0">
                                            <label for="grace"
                                                class="l-formTable__formRow--title col-12 col-sm-4 p-0 py-2">預計還款期間：</label>
                                            <input type="text" name="grace"
                                                class="l-formTable__formRow--input col-10 col-sm-6 input-required"
                                                maxlength="2" id="grace" inputmode="numeric">
                                            <div class="col-2">年</div>
                                            <div
                                                class="l-formTable__error col-sm-6 offset-sm-4 p-0 justify-content-start">
                                                輸入資料不符合資格請重新輸入
                                            </div>
                                        </div>
                                        <br>
                                        <div class="l-formTable__formRow max-600 row p-0">
                                            <label for="charge"
                                                class="l-formTable__formRow--title col-12 col-sm-4 p-0 py-2">預估貸款利率：</label>
                                            <input type="text" name="charge"
                                                class="l-formTable__formRow--input col-10 col-sm-6 input-required"
                                                maxlength="6" id="charge" inputmode="decimal">
                                            <div class="col-2 ">%</div>
                                            <div
                                                class="l-formTable__error col-sm-6 offset-sm-4 p-0 justify-content-start">
                                                輸入資料不符合資格請重新輸入
                                            </div>
                                        </div><br>
                                        <img src="{{ url_for('static',filename='img/approved (1).png')}}" width="25"
                                            height="25" />
                                        提醒您！實際自備款金額至少需準備「可負擔房屋總價」的2-3成喔!
                                        <br>
                                        <img src="{{ url_for('static',filename='img/approved (1).png')}}" width="25"
                                            height="25" />
                                        提醒您！每月規劃還款金額大多為「家庭每月收入」的3成最為保險!
                                        <hr class="mb-4 mr-4 ml-4 mb-4" />
                                        <div class="btn-col2">
                                            <div class="container">
                                                <div class="row justify-content-center px-0">
                                                    <div class="row justify-content-center pt-3 px-0">
                                                        <a class="btn calBtn bg-primary m-2  btn-warning">開始試算</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
                <div id="outputs" class="col" style="background-image: url(../img/back_house.png);">
                    <div class="row l-formTableCal__result">
                        <div id="m1" class="col">
                            <div id="m2" class="row justify-content-center mt-4">
                                <h1>可負擔之房屋總價</h1>
                            </div>
                            <div class="row justify-content-center pt-5 pb-5">
                                <!-- 試算結果內容 -->
                                <div class="col-12">
                                    <div class="py-1 color-primary font-weight" id="result" style="font-size: 40px;">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    "use Calculation";

    //#region 開頭去0
    function trimStarZero(val) {
        var flag = false;
        const reg = /^0/g;
        while (reg.test(val)) {
            val = val.replace(reg, "");
            flag = true;
        }

        if (flag && val == "") {
            val = "0";
        }
        return val;
    }
    //#endregion

    //#region 千分位格式化
    function formatNumber(n) {
        n += "";
        var arr = n.split(".");
        var re = /(\d{1,3})(?=(\d{3})+$)/g;
        return arr[0].replace(re, "$1,") + (arr.length == 2 ? "." + arr[1] : "");
    }
        //#endregion
</script>
<!-- Calculator End -->
{% endblock body %}

</html>