{% extends "base.html" %}
{% block title %}家圖四必 - 連絡我們{% endblock title %}
{% block src %}
{% include "_style.html" %}
{% endblock src %}

{% block contact %}
<a href="{{url_for('contact')}}" class="nav-item nav-link active">聯絡我們</a>
{% endblock contact %}
{% block body %}
<!-- Page Header Start -->
<div class="container-fluid bg-dark bg-img p-5 mb-5">
    <div class="row">
        <div class="col-12 text-center">
            <h1 class="display-4 text-uppercase text-white">聯絡我們</h1>
        </div>
    </div>
</div>
<!-- Page Header End -->

<!-- Contact Start -->
<div class="container-fluid contact position-relative px-5" style="margin-top: 90px;">
    <div class="container">
        <div class="row g-5 mb-5">
            <div class="col-lg-4 col-md-6">
                <div class="bg-primary border-inner text-center text-white p-5">
                    <i class="bi bi-geo-alt fs-1 text-white"></i>
                    <h6 class="text-uppercase my-2">Our Location</h6>
                    <span>320 桃園市中壢區新生路二段 421 號</span>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="bg-primary border-inner text-center text-white p-5">
                    <i class="bi bi-envelope-open fs-1 text-white"></i>
                    <h6 class="text-uppercase my-2">Email Us</h6>
                    <span>iSpan@example.com</span>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="bg-primary border-inner text-center text-white p-5">
                    <i class="bi bi-phone-vibrate fs-1 text-white"></i>
                    <h6 class="text-uppercase my-2">Call Us</h6>
                    <span>0987 654 321</span>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <form>
                    <div class="row g-3">
                        <div class="col-sm-6">
                            <input type="text" class="form-control bg-light border-0 px-4" placeholder="姓名"
                                style="height: 55px;">
                        </div>
                        <div class="col-sm-6">
                            <input type="email" class="form-control bg-light border-0 px-4" placeholder="Email"
                                style="height: 55px;">
                        </div>
                        <div class="col-sm-12">
                            <input type="text" class="form-control bg-light border-0 px-4" placeholder="主旨"
                                style="height: 55px;">
                        </div>
                        <div class="col-sm-12">
                            <textarea class="form-control bg-light border-0 px-4 py-3" rows="4"
                                placeholder="內容"></textarea>
                        </div>
                        <div class="col-sm-12">
                            <button class="btn btn-primary border-inner w-100 py-3" type="submit">送出訊息</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Contact End -->
{% endblock body %}

</html>