{% extends "base.html" %}
{% block title %}家圖四必 - 首頁{% endblock title %}
{% block src %}
{% include "_style.html" %}
{% endblock src %}
{% block index %}
<a href="{{url_for('index')}}" class="nav-item nav-link active">首頁</a>
{% endblock index %}
{% block body %}
<!-- Hero Start -->
<div class="container-fluid bg-primary py-5 mb-5 hero-header">
    <div class="container py-5">
        <div class="row justify-content-start">
            <div class="col-lg-8 text-center text-lg-start">
                <h1 class="font-secondary text-primary mb-4">East or West</h1>
                <h1 class="display-1 text-uppercase text-white mb-4">Home is Best</h1>
                <h1 class="text-uppercase text-white">Help You Find A Dream House !</h1>
                <div class="d-flex align-items-center justify-content-center justify-content-lg-start pt-5">
                    <a href="{{url_for('about')}}" class="btn btn-primary border-inner py-3 px-5 me-5">Read More</a>
                    <button type="button" class="btn-play" data-bs-toggle="modal"
                        data-src="https://youtu.be/Ei_Z9b1902k" data-bs-target="#videoModal">
                        <span></span>
                    </button>
                    <h5 class="font-weight-normal text-white m-0 ms-4 d-none d-sm-block">Play Video</h5>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Hero End -->

<!-- Video Modal Start -->
<div class="modal fade" id="videoModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content rounded-0">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Youtube Video</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- 16:9 aspect ratio -->
                <div class="ratio ratio-16x9">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/-ULhYE9Aaq8"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Video Modal End -->

<!-- features Start -->
<div class="container-fluid py-5">
    <div class="container">
        <div class="section-title position-relative text-center mx-auto mb-5 pb-3" style="max-width: 600px;">
            <h2 class="text-primary font-secondary">Pattern Map Features</h2>
        </div>
        <div class="owl-carousel testimonial-carousel">
            <div class="testimonial-item bg-dark text-white border-inner p-4">
                <div class="d-flex align-items-center mb-3">
                    <div class="ps-3">
                        <h4 class="text-primary text-uppercase mb-1">格局圖風水辨識</h4>
                    </div>
                </div>
                <p class="mb-0">將您擁有的房屋格局圖或平面圖上傳，<br>即可為您辨識出風水上的優劣，<br>可以此作為購買的參考依據。
                </p>
                <a class="text-uppercase text-yellow" href="{{url_for('pattern_reply')}}"><br>Read More <i
                        class="bi bi-arrow-right"></i></a>
            </div>
            <div class="testimonial-item bg-dark text-white border-inner p-4">
                <div class="d-flex align-items-center mb-3">
                    <div class="ps-3">
                        <h4 class="text-primary text-uppercase mb-1">房價資訊</h4>
                    </div>
                </div>
                <p class="mb-0">查看民國100年第4季至111年第2季的<br>全台實價登錄資料，包含買賣房屋及新成屋<br>的交易資料。
                </p>
                <a class="text-uppercase text-yellow" href="{{url_for('info')}}"><br>Read More <i
                        class="bi bi-arrow-right"></i></a>
            </div>
            <div class="testimonial-item bg-dark text-white border-inner p-4">
                <div class="d-flex align-items-center mb-3">
                    <div class="ps-3">
                        <h4 class="text-primary text-uppercase mb-1">房價預測</h4>
                    </div>
                </div>
                <p class="mb-0">以民國100年第4季至111年第2季的<br>實價登錄資料集，預測各縣市地區未來的房價。<br> <br>
                </p>
                <a class="text-uppercase text-yellow" href="{{url_for('predict_reply')}}"><br>Read More <i
                        class="bi bi-arrow-right"></i></a>
            </div>
            <div class="testimonial-item bg-dark text-white border-inner p-4">
                <div class="d-flex align-items-center mb-3">
                    <div class="ps-3">
                        <h4 class="text-primary text-uppercase mb-1">房貸計算機</h4>
                    </div>
                </div>
                <p class="mb-0">輸入自身條件 (如：每月收入、房貸利率等)，<br>即可簡易計算出每月應該付多少房貸，<br>可在購買房屋前做為參考依據。
                </p>
                <a class="text-uppercase text-yellow" href="{{url_for('mortgage')}}"><br>Read More <i
                        class="bi bi-arrow-right"></i></a>
            </div>
            <div class="testimonial-item bg-dark text-white border-inner p-4">
                <div class="d-flex align-items-center mb-3">
                    <div class="ps-3">
                        <h4 class="text-primary text-uppercase mb-1">可負擔房價計算機</h4>
                    </div>
                </div>
                <p class="mb-0">輸入自身條件 (如：房貸占月收入比例等)，<br>即可簡易計算出可以負擔之房屋總額，<br>可在購買房屋前做為參考依據。
                </p>
                <a class="text-uppercase text-yellow" href="{{url_for('affordable')}}"><br>Read More <i
                        class="bi bi-arrow-right"></i></a>
            </div>
        </div>
    </div>
</div>
<!-- Testimonial End -->
{% endblock body %}
</html>
