{% extends "base.html" %}
{% block title %}家圖四必 - 房價資訊{% endblock title %}
{% block src %}
{% include "_style.html" %}
{% endblock src %}
{% block price %}
<a href="#" class="nav-link dropdown-toggle active" data-bs-toggle="dropdown">房價分析</a>
{% endblock price %}
{% block body %}
<!-- Page Header Start -->
<div class="container-fluid bg-dark bg-img p-5 mb-5">
    <div class="row">
        <div class="col-12 text-center">
            <h1 class="display-4 text-uppercase text-white">房價資訊</h1>
        </div>
    </div>
</div>
<!-- Page Header End -->

<!-- Testimonial Start -->
<div class="container-fluid py-5">
    <div class="container">
        <div class='tableauPlaceholder' id='viz1657879941565' style='position: relative'><noscript><a href='#'><img
                        alt='儀表板窗格 3 '
                        src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;2_&#47;2_16578788793210&#47;3&#47;1_rss.png'
                        style='border: none' /></a></noscript><object class='tableauViz' style='display:none;'>
                <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' />
                <param name='embed_code_version' value='3' />
                <param name='site_root' value='' />
                <param name='name' value='2_16578788793210&#47;3' />
                <param name='tabs' value='no' />
                <param name='toolbar' value='yes' />
                <param name='static_image'
                    value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;2_&#47;2_16578788793210&#47;3&#47;1.png' />
                <param name='animate_transition' value='yes' />
                <param name='display_static_image' value='yes' />
                <param name='display_spinner' value='yes' />
                <param name='display_overlay' value='yes' />
                <param name='display_count' value='yes' />
                <param name='language' value='zh-TW' />
                <param name='filter' value='publish=yes' />
            </object>
        </div>
        <script
            type='text/javascript'> var divElement = document.getElementById('viz1657879941565'); var vizElement = divElement.getElementsByTagName('object')[0]; if (divElement.offsetWidth > 800) { vizElement.style.width = '100%'; vizElement.style.maxWidth = '2560px'; vizElement.style.height = (divElement.offsetWidth * 0.75) + 'px'; vizElement.style.maxHeight = '1467px'; } else if (divElement.offsetWidth > 500) { vizElement.style.width = '100%'; vizElement.style.maxWidth = '2560px'; vizElement.style.height = (divElement.offsetWidth * 0.75) + 'px'; vizElement.style.maxHeight = '1467px'; } else { vizElement.style.width = '100%'; vizElement.style.height = '1377px'; } var scriptElement = document.createElement('script'); scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js'; vizElement.parentNode.insertBefore(scriptElement, vizElement);                </script>
    </div>
</div>
<!-- Testimonial End -->
{% endblock body %}

</html>