{% extends "base.html" %}
{% block title %}家圖四必 - 登入{% endblock title %}
{% block src %}
{% include "_style.html" %}
{% include "_style_register.html" %}
{% endblock src %}
{% block member %}
<a href="#" class="nav-link dropdown-toggle active" data-bs-toggle="dropdown">會員中心</a>
{% endblock member %}
{% block body %}
<!-- Page Header Start -->
<div class="container-fluid bg-dark bg-img p-5 mb-5">
    <div class="row">
        <div class="col-12 text-center">
            <h1 class="display-4 text-uppercase text-white">會員登入</h1>
        </div>
    </div>
</div>
<!-- Page Header End -->

<!-- login Start -->
<form method="post" action="/login">
    <div class="container">
        <div style="color: red">
            {% for message in get_flashed_messages() %}
            {{ message }}
            {% endfor %}
        </div>
        <label for="name"><b>帳號</b></label>
        <input type="text" placeholder="Enter name" name="name" id="name" required>

        <label for="psw"><b>密碼</b></label>
        <input type="password" placeholder="Enter Password" name="psw" id="psw" required>
        <hr>

        <button type="submit" class="btn1 btn2 registerbtn">登入</button>
    </div>
    <div class="container">

        <p>還沒有帳號? <a href="{{url_for('register')}}">註冊帳號</a></p>

    </div>
</form>
<!-- login End -->
{% endblock body %}

</html>
