{% extends "base.html" %}
{% block title %}家圖四必 - 房貸計算機{% endblock title %}
{% block src %}
{% include "_style.html" %}
{% endblock src %}
{% block cal %}
<a href="#" class="nav-link dropdown-toggle active" data-bs-toggle="dropdown">計算機</a>
{% endblock cal %}
{% block body %}
<!-- Page Header Start -->
<div class="container-fluid bg-dark bg-img p-5 mb-5">
    <div class="row">
        <div class="col-12 text-center">
            <h1 class="display-4 text-uppercase text-white">房貸計算機</h1>
            <p>輸入以下欄位，即為您估算您每月應繳的房貸金額</p>
        </div>
    </div>
</div>
<!-- Page Header End -->


<!-- <onload="CheckHCR();"> -->
<div class="container">
    <div id="inout" class="row mt-5">
        <div id="inputs" class="col">
            <div class="row">
                <div class="col">
                    <div class="row mt-5 inputoption text-center">
                        <div class="col ml-4 pt-3">
                            <i></i>
                        </div>
                    </div>
                    <div class="row inputoption text-right">
                        <div class="col ml-4">
                            <i>房屋總價</i>
                        </div>
                        <div class="col mr-4">
                            <input type="text" id="totalPrice" value="$8,000,000" pattern="^\$\d{1,3}(,\d{3})*(\.\d+)?$"
                                data-type="currency"
                                oninput="DownPayment(this.value, document.getElementById('downPayment').value, document.getElementById('loan').value);" />
                            <span>元</span>
                        </div>
                    </div>
                    <br>
                    <div class="row mb-3 inputoption text-right">
                        <div class="col ml-4 pb-4">
                            <i>自備款</i>
                        </div>
                        <div class="col mr-4">
                            <input type="text" id="downPayment" value="$1,000,000"
                                pattern="^\$\d{1,3}(,\d{3})*(\.\d+)?$" data-type="currency"
                                oninput="DownPayment(document.getElementById('totalPrice').value, this.value, document.getElementById('loan').value);" />
                            <span>元</span>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="mb-4 mr-4 ml-4 mb-4" />
            <div class="row mb-3">
                <div class="col ml-4">
                    貸款總額:
                </div>
                <div class="col mr-4">
                    <input type="text" id="loan" value="$7,000,000" pattern="^\$\d{1,3}(,\d{3})*(\.\d+)?$"
                        data-type="currency" readonly />
                    <span>元</span>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col ml-4">
                    貸款年利率:
                </div>
                <div class="col mr-4">
                    <input type="text" id="rate" value="1.50" oninput="validateRate(this.value)" />
                    <span>%</span>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col ml-4">
                    貸款期限:
                </div>
                <div class="col mr-4">
                    <input type="number" id="term" value="360" min="1" max="360"
                        oninput="validity.valid||(value='');" />
                    <span>月</span>
                </div>
            </div>
            <div id="cbp" class="row mr-4 justify-content-end">
                <button id="calcbtn" class="btn calBtn bg-primary m-2  btn-warning"
                    onclick="Calculate(document.getElementById('loan').value,document.getElementById('term').value,document.getElementById('rate').value)">
                    開始計算
                </button>
            </div>
            <!-- <div class="row mr-4 mb-5 justify-content-end">
                            <button id="resetbtn" class="btn btn-danger mt-3" onclick="Reset()">
                                重新計算
                            </button>
                        </div> -->
        </div>
        <div id="outputs" class="col">
            <div class="row">
                <div id="m1" class="col">
                    <div id="m2" class="row justify-content-center mt-4">
                        <h1>每月應繳房貸</h1>
                    </div>
                    <div class="row justify-content-center pt-5 pb-5">
                        <h1 id="monthlypayment">$0.00</h1>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="row">
                        <div class="col ml-4">
                            <h3>本金總額</h3>
                        </div>
                        <div class="col">
                            <div class="row justify-content-end pr-5">
                                <h3 id="totalprincipal">$0.00</h3>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col ml-4">
                            <h3>利息總額</h3>
                        </div>
                        <div class="col">
                            <div class="row justify-content-end pr-5">
                                <h3 id="totalinterest">$0.00</h3>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col ml-4">
                            <h3>本息合計總額</h3>
                        </div>
                        <div class="col">
                            <div class="row justify-content-end pr-5">
                                <h3 id="totalcost" class="mb-5">$0.00</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="tablerow" class="row">
        <table class="table table-responsive-lg table-dark table-striped mt-4">
            <thead>
                <tr>
                    <th scope="col">期數</th>
                    <th scope="col">應繳金額</th>
                    <th scope="col">本金</th>
                    <th scope="col">利息</th>
                    <th scope="col">累加利息</th>
                    <th scope="col">房貸本金餘額</th>
                </tr>
            </thead>
            <tbody id="tbody">
                <tr>
                    <td scope="col">$0.00</td>
                    <td scope="col">$0.00</td>
                    <td scope="col">$0.00</td>
                    <td scope="col">$0.00</td>
                    <td scope="col">$0.00</td>
                    <td scope="col">$0.00</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="clearfix">
        <div class="pull-right show-more"> <span>顯示全部</span><i class="icon-gray-arrow-down"></i></div>
    </div>
</div>
<!-- Calculator End -->
{% include "_mortgage.html" %}
{% endblock body %}

</html>