{% extends "base.html" %}
{% block title %}家圖四必 - 格局圖風水辨識{% endblock title %}
{% block src %}
{% include "_style.html" %}
{% include "_style_picture.html" %}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
{% endblock src %}
{% block pattern %}
<a href="{{url_for('pattern_reply')}}" class="nav-item nav-link active">格局圖風水辨識</a>
{% endblock pattern %}
{% block body %}
<!-- Page Header Start -->
<div class="container-fluid bg-dark bg-img p-5 mb-5">
    <div class="row">
        <div class="col-12 text-center">
            <h1 class="display-4 text-uppercase text-white">風水辨識</h1>
            <p>分析結果僅供參考</p>
        </div>
    </div>
</div>
<!-- Page Header End -->

<!-- picture congnition Start -->
<div class="file-upload">
    <form action="/pattern_analysis" enctype="multipart/form-data" method="post">
        <div class="image-upload-wrap">
            <input class="file-upload-input" type='file' name="file" onchange="readURL(this);" accept="image/*" />
            <div class="drag-text">
                <h3>Drag and drop a file or select add Image</h3>
            </div>
        </div>
        <div class="file-upload-content column">
            <div>
                <img class="file-upload-image" src="#" alt="your image" />
            </div>
            <div id="loading" style="display: none;">
                <img src="{{url_for('static', filename='img/Spinner-5.gif')}}">
            </div>
            <div class="image-title-wrap" style="display: inline;">
                <button type="button" onclick="removeUpload()" class="remove-image">重新選擇</button>
            </div>
            <div class="image-title-wrap" style="display: inline;">
                <button type="submit" class="upload-image" onclick="$('#loading').show();">開始分析</button>
            </div>
        </div>
    </form>
</div>
<!-- picture congnition End -->

{% endblock body %}

</html>
