{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}家圖四必 - 註冊會員{% endblock title %}
{% block src %}
{% include "_style.html" %}
{% include "_style_register.html" %}
{% endblock src %}

<body>
    {% block body %}
    <!-- Topbar Start -->
    {% include "_topbar.html" %}
    <!-- Topbar End -->

    <!-- Navbar Start -->
    <nav class="navbar navbar-expand-lg bg-dark navbar-dark shadow-sm py-3 py-lg-0 px-3 px-lg-0">
        <a href="{{url_for('index')}}" class="navbar-brand d-block d-lg-none">
            <h1 class="m-0 text-uppercase text-white"></i>Pattern Map</h1>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav ms-auto mx-lg-auto py-0">
                <a href="{{url_for('index')}}" class="nav-item nav-link">首頁</a>
                <a href="{{url_for('about')}}" class="nav-item nav-link">關於我們</a>
                <a href="{{url_for('pattern_reply')}}" class="nav-item nav-link">格局圖風水辨識</a>
                <!-- <a href="team.html" class="nav-item nav-link">Master Chefs</a> -->
                <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">房價分析</a>
                    <div class="dropdown-menu m-0">
                        <a href="{{url_for('info')}}" class="dropdown-item">房價資訊</a>
                        <a href="{{url_for('predict_reply')}}" class="dropdown-item">房價預測</a>
                    </div>
                </div>
                <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">計算機</a>
                    <div class="dropdown-menu m-0">
                        <a href="{{url_for('mortgage')}}" class="dropdown-item">房貸計算機</a>
                        <a href="{{url_for('affordable')}}" class="dropdown-item">可負擔房價計算機</a>
                    </div>
                </div>
                <a href="{{url_for('contact')}}" class="nav-item nav-link">聯絡我們</a>
            </div>
        </div>
        <div class="dropdown navbar-nav navbar-right border-inner px-3" style="position: absolute; right : 0px;">
            <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">會員中心</a>
            <div class="dropdown-menu m-0">
                <a href="{{url_for('login')}}" class="dropdown-item">登入</a>
                <a href="{{url_for('register')}}" class="dropdown-item active">註冊</a>
                <a href="{{url_for('signout')}}" class="dropdown-item">登出</a>
            </div>
        </div>
    </nav>
    <!-- Navbar End -->


    <!-- Page Header Start -->
    <div class="container-fluid bg-dark bg-img p-5 mb-5">
        <div class="row">
            <div class="col-12 text-center">
                <h1 class="display-4 text-uppercase text-white">會員註冊</h1>
            </div>
        </div>
    </div>
    <!-- Page Header End -->

    <!-- register Start -->
    <form method="post" action="/bdse25_team1/register">
        <div class="container">
            {{ wtf.quick_form(form) }}
            <!-- <div style="color: red">
                {% for message in get_flashed_messages() %}
                {{ message }}
                {% endfor %}
            </div>

            <label for="name"><b>使用者名稱</b></label>
            <input type="text" placeholder="Enter name" name="name" id="name" required>

            <label for="email"><b>信箱</b></label>
            <input type="text" placeholder="Enter email" name="email" id="email" required>

            <label for="psw"><b>密碼</b></label>
            <input type="password" placeholder="Enter Password" name="psw" id="psw" required>

            <label for="psw-repeat"><b>確認密碼</b></label>
            <input type="password" placeholder="Repeat Password" name="psw-repeat" id="psw-repeat" required>
            <hr> -->

            <!-- <p>註冊帳號即同意本網站之條款及細則和隱私權政策    <a href="#">Terms & Privacy</a>.</p> -->
            <button type="submit" class="registerbtn">註冊</button>
        </div>

        <div class="container">
            <p>已經擁有帳號了? <a href="{{url_for('login')}}">登入帳號</a></p>
        </div>
    </form>
    <!-- register End -->


    <!-- Footer Start -->
    {% include "_footer.html" %}
    <!-- Footer End -->


    <!-- Back to Top -->
    <a href="#" class="btn btn-primary border-inner py-3 fs-4 back-to-top"><i class="bi bi-arrow-up"></i></a>


    <!-- JavaScript Libraries -->
    {% include "_js_lib.html" %}
    <!-- Template Javascript -->
    <script class="jsbin" src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <script src="{{ url_for('static',filename='js/main.js')}}"></script>
    {% endblock body %}
</body>

</html>
