{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}家圖四必 - 註冊會員{% endblock title %}
{% block src %}
{% include "_style.html" %}
{% include "_style_register.html" %}
{% endblock src %}
{% block member %}
<a href="#" class="nav-link dropdown-toggle active" data-bs-toggle="dropdown">會員中心</a>
{% endblock member %}
{% block body %}
<!-- Page Header Start -->
<div class="container-fluid bg-dark bg-img p-5 mb-5">
    <div class="row">
        <div class="col-12 text-center">
            <h1 class="display-4 text-uppercase text-white">會員註冊</h1>
        </div>
    </div>
</div>
<!-- Page Header End -->

<!-- register Start -->
<form method="post" action="/bdse25_team1/register">
    <div class="container">
        {{ wtf.quick_form(form) }}

        <button type="submit" class="registerbtn">註冊</button>
    </div>

    <div class="container">
        <p>已經擁有帳號了? <a href="{{url_for('login')}}">登入帳號</a></p>
    </div>
</form>
<!-- register End -->
{% endblock body %}

</html>
